ul {
  list-style: none;
  padding:0;
  margin: 0;
}

main {
  margin-top: 2rem;
  padding-top: 1rem;
  width: 96%;
  margin:auto;
}

a {
  text-decoration: none;
  color: white;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 90%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.avatar_img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
