<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <a routerLink="/">MEAN App</a>
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a mat-button routerLink="/weather" routerLinkActive="mat-accent">Weather</a>
        <a mat-button routerLink="/posts" routerLinkActive="mat-accent">Posts</a>
        <a *ngIf="userIsAuthenticated" mat-button routerLink="/posts/create" routerLinkActive="mat-accent">Create</a>
        <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
        <a *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu"><img class="avatar_img" src="/assets/img/avatar_male.png" /></a>
        <mat-menu #menu="matMenu">
            <button *ngIf="userIsAuthenticated" mat-menu-item [routerLink]="['user', userId]">View Profile</button>
            <button *ngIf="userIsAuthenticated" mat-menu-item routerLink="/useredit">Edit Profile</button>
            <button *ngIf="userIsAuthenticated" mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>

      </div>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item routerLink="/" routerLinkActive="mat-accent">Home</a>
        <a (click)="sidenav.toggle()" mat-list-item routerLink="/weather" routerLinkActive="mat-accent">Weather</a>
        <a (click)="sidenav.toggle()" mat-list-item routerLink="/posts" routerLinkActive="mat-accent">Posts</a>
        <a (click)="sidenav.toggle()" *ngIf="userIsAuthenticated" mat-list-item routerLink="/posts/create" routerLinkActive="mat-accent">Create</a>
        <a (click)="sidenav.toggle()" *ngIf="!userIsAuthenticated"  mat-list-item routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        <a (click)="sidenav.toggle()" *ngIf="!userIsAuthenticated" mat-list-item routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
        <button (click)="sidenav.toggle()" *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
