.loading {
  margin:auto;
  width:300px;
  text-align:center;
}

.text-center {
  text-align:center;
}

mat-spinner {
  margin:auto;
}

.bg-color {
  background-color: #6f42c1 !important
}

.icon-color {
  color: #6f42c1 !important
}
