mat-card-footer {
  text-align: center;
  padding: 1rem;
}

mat-grid-tile p {
  padding: 2rem;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
