<h2>Sign Up</h2>
<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="isLoading === false">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-mail Address"
        #emailInput="ngModel"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid E-Mail.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          name="password"
          ngModel
          type="password"
          placeholder="Password"
          #passwordInput
          required
          password>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
      </mat-form-field>
      <button *ngIf="!isLoading" mat-raised-button color="accent" type="submit">Sign Up</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card>
